version: '3.9'
services:
  web:
    build: .
    container_name: flask-faceapp
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8.0
    container_name: faceapp-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: faceapp
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data: